form div{
    margin-bottom: 10px;
    background: floralwhite
}

form {
    
    border-style: solid;
    padding: 20px;
    width: fit-content;
}

form h2 {
    text-align: center;
}

form button {
    width: 100%;
}